{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Home page</title>
    <link rel="stylesheet" href="{% static 'students/css/style.css' %}">
       <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
</head>
<body>
    <h1 style="color: red;"> Welcome to Students Home page </h1>
    <div class="container">
    <h2> Students List</h2>
        {{students}}

    <h3> Display data in a table </h3>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td> <td>Age </td> <td>Track </td> <td> Id</td>
                <td> Image </td> <td> Show</td>
            </tr>
        </thead>
        {% for std in students %}
            <tr>
                <td>{{std.name}}</td>  <td>{{std.age}}</td>
                 <td>{{std.track}}</td>  <td>{{std.id}}</td>
                    <td> <img src="{% static 'students/images/'|add:std.image %}" width="200" height="200"> </td>
                    <td> <a class="btn btn-info" href="/students/profile/{{std.id}}">  Show </a></td>
                    <td> <a class="btn btn-primary" href="{% url 'student.profile' std.id %}" > Show using url</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
<!--    <script src="{% static 'students/js/script.js' %}"></script>-->
<script src="{% static 'bootstrap/js/bootstrap.js'%}"> </script>
</body>
</html>