{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Students Index{% endblock %}
{% block content %}
 <h3> Display data in a table </h3>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td> <td>Age </td> <td>Track </td> <td> Id</td>
                <td> Image </td> <td> Show</td>
            </tr>
        </thead>
        {% for std in students %}
            <tr>
                <td>{{std.name}}</td>  <td>{{std.age}}</td>
                 <td>{{std.track}}</td>  <td>{{std.id}}</td>
                    <td> <img src="{% static 'students/images/'|add:std.image %}" width="200" height="200"> </td>
                    <td> <a class="btn btn-primary" href="{% url 'student.profile' std.id %}" > Show</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock%}