{% extends  'layouts/base.html' %}
{% load static %}

{% block title %}
  Student Profile
{% endblock%}



{% block content %}
<h1> Welcome to student profile </h1>
<div class="card" style="width: 18rem;">
  <img src="{% static 'students/images/'|add:student.image %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{student.name}}</h5>
    <p class="card-text"></p>
    <a href="{% url 'students.list' %}" class="btn btn-primary">Back to all students </a>
  </div>
</div>
{% endblock %}

<h1> Content will not be displayed </h1>