{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Create New Student {% endblock %}

{% block content %}
    <a href="{% url 'tracks.create' %}" class="btn btn-dark"> Create New Track </a>
<div class="row">

    <div class="col-4">
        <div class="card" style="width: 18rem;">
  <img src="{{track.get_image_url}}" class="card-img-top"
       width="200" height="200"
       alt="...">
  <div class="card-body">
    <h5 class="card-title">{{track.name}}</h5>
      <h6 class="card-body"> {{track.description}} </h6>
    <a href="{{track.get_index_url}}" class="btn btn-primary">Back to all tracks </a>
  </div>
</div>
        </div>
    </div>
{% endblock %}